beautifulsoup4==4.11.1
better-exceptions==0.3.3
black==22.3.0
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
cfgv==3.3.1
charset-normalizer==2.0.12
click==8.1.3
commonmark==0.9.1
cryptography==37.0.1
Cython==0.29.28
distlib==0.3.4
filelock==3.7.0
identify==2.5.0
idna==3.3
MoodleTUI-common==0.0.2
mypy-extensions==0.4.3
nodeenv==1.6.0
Nuitka==0.7.7
pathspec==0.9.0
pathurl==0.5.0
platformdirs==2.5.2
pre-commit==2.19.0
pycparser==2.21
Pygments==2.12.0
PyYAML==6.0
requests==2.27.1
rich==12.3.0
six==1.16.0
soupsieve==2.3.2.post1
structlog==21.5.0
toml==0.10.2
tomli==2.0.1
urllib3==1.26.9
virtualenv==20.14.1
